{erl_opts, [no_debug_info]}.
{deps, [
    {raw_sqlite3, 
        {git, "git@github.com:d2km/raw_sqlite3.git", {tag, "1.0.10"}}
    }
]}.

{escript_incl_apps, [erl_reports]}.
{escript_main_app, erl_reports}.
{escript_name, erl_reports}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
