{erl_opts, [no_debug_info]}.
{deps, [
    {raw_sqlite3, 
        {git, "git@github.com:d2km/raw_sqlite3.git", {branch, master}}
    }
]}.

{escript_incl_apps, [dial_reports]}.
{escript_main_app, dial_reports}.
{escript_name, dial_reports}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{profiles, [
    {test, [
        {erl_opts, [debug_info]}
    ]}
]}.
